*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}


body{
    /*padding: 0;
    margin: 0;*/
    background: linear-gradient(to right, #3bcff0, #2193b0);
}


#wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

}
#wrapper > button {
    border: 1px solid black;
    outline: none;
    font-size: 1rem;
    background-color: lightpink;
}
#wrapper > .operator{
font-size: 2rem;
}
#output{
    border: 1px solid black;
    background-color: white;
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-break: break-word;
    word-break: break-all;  
}
#numZero{
    grid-column: 1 / span 2;
}
#clear{
    grid-column: 1 / 3;
}
#wrapper > button:hover {
    background-color: lightslategray;
}
#display{
    font-size: 2.5rem;
}

